#corpo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#header {
  background-color: darkgray;
}

#sairButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#sairButton:hover {
  text-decoration: underline;
}

#perfil {
  margin-top: 5%;
  
}

#caixaMeta {
  margin-top: 5%;
}

#caixaPontuar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

#criar .entrada {
  border-radius: 30px;
  padding: 5px 15px;
}

#criar .criarButton {
  border-radius: 30px;
  font-size: medium;
  padding: 5px 15px;
  cursor: pointer;
}

#criar .criarButton:hover {
  background-color: darkgray;
}
