.pagina-inicial-header {
  margin-top: 10px;
}

.pagina-inicial-grupos,
.pagina-inicial-paroquias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.selecao-modo {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.selecao-modo button {
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid gray;
  background-color: white;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
}

.selecao-modo button.ativo {
  background-color: black;
  color: white;
}

.selecao-modo button:hover:not(.ativo) {
  background-color: lightgray;
}

.pagina-inicial-criar {
  display: flex;
  justify-content: center;
  padding: 15px 15px;
  border-radius: 15px;
  border: 1px solid gray;
  background-color: lightgray;
  width: fit-content;
  gap: 10px;
}

.pagina-inicial-criar .entrada {
  border-radius: 30px;
  padding: 5px 15px;
  border-width: 1px;
  border-color: black;
}

.pagina-inicial-criar .criar-button {
  border-radius: 30px;
  font-size: medium;
  padding: 5px 15px;
  cursor: pointer;
  border-width: 1px;
  border-color: black;
}

.pagina-inicial-criar .criar-button:hover {
  background-color: darkgray;
}

.pagina-inicial-lista {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 10px;
}

.grupo-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  border-radius: 15px;
  border: 1px solid gray;
  width: 100%;
  gap: 10px;
}

.grupo-card-nome {
  border-radius: 15px;
}

.grupo-card .entrada {
  border-radius: 30px;
  padding: 5px 15px;
  width: 155px;
  border-width: 1px;
  border-color: black;
}

.entrar-button {
  border-radius: 30px;
  font-size: medium;
  padding: 5px 15px;
  cursor: pointer;
  border-width: 1px;
  border-color: black;
}

.entrar-button:hover {
  background-color: darkgray;
}

.deletar-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.deletar-simbolo {
  color: black;
  margin: 5px;
  font-size: large;
}

.deletar-simbolo:hover {
  background-color: darkgray;
  border-radius: 50%;
  padding: 5px;
  margin: 0px;
}
