#titulo {
  margin-top: 10px;

}

#grupos {
  display: block;
  margin-top: 40px;

  .criarGrupoButton {
    border-radius: 30px;
    font-size: medium;
    padding: 5px 15px;
  }
  .criarGrupoButton:hover {
    background-color: darkgray;
  }
}